<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp container">
    <thead class="">
      <tr class="">
        <th>No.</th>
        <th>Customer Name</th>
        <th>Route</th>
        <th>Date</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let booking of bookings | async">
        <td>{{booking.id}}</td>
        <td>{{booking.user.userName}}</td>
        <td>{{booking.bus.location}}</td>
        <td>{{booking.key | date}}</td>
        <td>{{booking.bus.fare}} Kyats</td>
        <td><a (click)="onCancel(booking)" class="btn btn-outline-light">Cancel</a></td>
      </tr>
    </tbody>
  </table>
