<div class="header">
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-6 text-center">
      <h3 style="color: #000033">      <i class="fas fa-bus"></i>
        Bus Ticket Reservation System</h3>
    </div>
    <div class="col-3 mx-3">
    </div>
  </div>
    <div class="row">
        <div class="col">
            <a class="btn"[routerLink]="['']" *ngIf="!loggedInAsAdmin" > Home</a>
          <div class="" *ngIf="loggedInAsAdmin" >
            <a [routerLink]="['admin']" class="btn">Home</a>
            <a [routerLink]="['admin','edit-bus']" class="btn">Create Bus</a>
            <a [routerLink]="['admin','view-bookings']" class="btn">View Bookings</a>
            <a [routerLink]="['admin','view-users']" class="btn">View Users</a>
            <a [routerLink]="['admin','view-feedbacks']" class="btn">View FeedBacks</a>
          </div>
        </div>
        <div class="col">
          <div class="row justify-content-end mx-3">
        <div *ngIf="loggedIn">
            <div class="" *ngIf="!loggedInAsAdmin" >
          <input type="text" class="form-control" #message>
          <a (click)="onFeedBack(message.value)" class="btn">Send FeedBack</a>
        </div>
          <a class="btn" (click)="onLogOut()" >LogOut</a>

        </div>
        <div class="" *ngIf="!loggedIn">
            <a class="btn" [routerLink]="['details','login']">Login</a>
            <a class="btn" [routerLink]="['details','signUp']">Sign Up</a>
        </div>
      </div>
      </div>
</div>