<form (ngSubmit)="onSubmit()" class="form container my-3">
  <div class="row">
    <div class="col">
      <h3 class="text-center">Create New Bus</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="bus.name" autofocus placeholder="Please Enter Bus Name">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <div class="form-label">CoachType</div>
        <input type="text" class="form-control" name="name" [(ngModel)]="bus.coachType" placeholder="Please Enter Coach Type">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label class="form-label">Location</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="bus.location" placeholder="Please Enter Location" placeholder="Please Enter Location Eg.(LeavingFromtoGoingTo)">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <div class="form-label">Seat No.</div>
        <input type="number" class="form-control" name="name" [(ngModel)]="bus.seat" placeholder="Please Enter Seat Numbers">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <div class="form-label">Time</div>
        <input type="time" class="form-control" name="name" [(ngModel)]="bus.time" placeholder="Please Enter Depart Time">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <div class="form-label">Price</div>
        <input type="number" class="form-control" name="name" [(ngModel)]="bus.fare" placeholder="Please Enter Seat Price">
      </div>
    </div>
  </div>
  <button class="btn" type="submit">Save</button>
</form>