<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp container">
    <thead class="">
      <tr class="">
        <th>No.</th>
        <th>FeedBack From</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let feedback of feedbacks">
        <td>{{feedback.id}}</td>
        <td>{{feedback.userDetail.userName}}</td>
        <td>{{feedback.feedBackMessage}}</td>
      </tr>
    </tbody>
  </table>
