<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp container">
  <thead class="">
    <tr class="">
      <th>No.</th>
      <th>Name</th>
      <th>Mobile No.</th>
      <th>Email Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.userName}}</td>
      <td>{{user.mobile}}</td>
      <td>{{user.userEmail}}</td>
    </tr>
  </tbody>
</table>
