/* You can add global styles to this file, and also import other style files */

html{
  font-size: 17px;
}

table {
  width: 100%;
}

td,th{
  text-align: start;
}


.login {
    background: #000033;
    color: #fff;
    float: right;
    padding: 3px 20px;
    margin: 10px;
}
.header-top p {
   float: right;
}
.header-top img {
    width: 100px;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}

.menu {
    background: #000033
}

.menu ul li {
    padding: 10px 20px;
    display: inline-block;
    color: #fff;
    cursor: pointer;
}

table {
    border: 1px solid #dee2e6;
}

.footer {
    border-top: 3px solid #000033;
}

.header {
    border-bottom: 3px solid #000033;
}

.block {
    background: #FBFBFB;
    height: 276px;
    padding: 35px;
}
.block li {
    margin: 5px 0;
}

.slider img {
    width:100%;
    height: 276px;
}

.select-bus {
    background: url(./assets/img/slider.jpg) ;
    background-size: cover;
    position: relative;
    min-height:300px;
}

    .overlap {
        /* background-color: rgb(178, 190, 195,.5); */
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%
    }

    .btn-search {
        background: #000033;
        border-color:#000033 ;
        color:#fff;
    }

    .seats {
        width: 201px;
        border: 1px solid #ccc;
        padding: 20px;
        margin: 41px auto;
        /* height: 100%; */
        padding-left: 34px;
        padding-right: 10px;
        float: left;
    }

.handle {
    float: left;
    width: 100%;
}
.handle img {
    float: right;
}
    .row1  {
        float: left;
        width: 50%;
    }

    .row1 ul {
        width: 40%;
        float: left;
    }

    .seat_plan_wrap {
        border: 3px solid rgb(205, 80, 255);
        padding: 40px;
    }
    .total{
       margin-top: 10px;
        background: #F7F7F7;
        padding: 7px;
        border: 1px solid #eee;
    }

    .seat_plan {
        height: 270px;
    }
    .alert {
        float: left;
    }


    /* MODAL WIDTH EDIT  */

    .modal-dialog {
        max-width:900px!important;
    }

        /* MODAL WIDTH EDIT  */



        .j_details p {
            margin: 3px 0px;
            font-size: 13px;
        }


        .ticket {
            border: 1px solid #ccc;
    box-shadow: 1px 0px 9px 2px #ccc;
    margin: 26px;
        }
        .ticket table {
            border: none
        }

        .ticket table thead {
            border: none;
            background: #FCFCE0;
            font-weight: bold
        }
        .ticket  table td {
            border: none;
        }

        .ticket table.ps_details {
            border: 1px solid #ccc;
        }

        .ticket table.ps_details span {
            color: #424242;
            font-size: 12px;
            padding: 0 6px;
        }
