<div class="select-bus">
  <div class="container">
    <div class="row justify-content-center pb-5 pt-3">
      <div class="col-md-5 mt-3">
        <form (ngSubmit)="SearchBus(f)" #f=ngForm>
          <div class="row">
            <div class="form-group col-md-6">
              <label>Leaving from</label>
              <select (change)="leave($event)" name="leaving_form" required ngModel class="custom-select">
                <option value="">Select Place</option>
                <option value="Naypyitaw">Naypyitaw</option>
                <option value="Mandalay">Mandalay</option>
                <option value="Bagan">Bagan</option>
                <option value="Yangon">Yangon</option>
                <option value="Kalaw">Kalaw</option>
                <option value="Kyaiktiyo">Kyaiktiyo</option>
                <option value="ChaungThar">ChaungThar</option>
                <option value="Inle">Inle</option>
                <option value="Lashio">Lashio</option>
                <option value="Monywa">Monywa</option>
                <option value="Ngapali">Ngapali</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label>Going To</label>
              <select name="going_to" [ngModel]="place[0].key" required class="custom-select">
                <option *ngFor="let p of place" [value]="p.key">{{p.value}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label for="">Departing On</label>
              <input type="date" min="{{today}}" required class="form-control form-control-sm" ngModel
                name="depart_date">
            </div>
          </div>
          <button [disabled]="!f.valid" class="btn btn-block mt-3 btn-search btn-sm"> <i class="fas mr-2 fa-search"></i>
            Search Buses</button>
        </form>
      </div>
    </div>
  </div>
</div>