<div class="container">
    <div class="row">
        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    </div>
    <div class="row">
        <div id="chartContainer1" style="height: 370px; width: 100%;"></div>
    </div>
</div>