<div class="container my-3">
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col">
        <div class="text-center">
          <h3>SignUp</h3>
        </div>
        <form (ngSubmit)="userForm(userF)" #userF="ngForm">
          <div class="form-group">
            <label>User Name</label>
            <input type="text" required name="user_name" ngModel class="form-control form-control-sm">
          </div>
          <div class="form-group">
            <label>User Mobile No</label>
            <input type="text" required name="user_mobile" ngModel class="form-control form-control-sm">
          </div>
          <div class="form-group">
            <label>Email </label>
            <input type="email" required name="user_email" ngModel class="form-control form-control-sm">
          </div>
          <div class="form-group">
            <label>Password </label>
            <input type="password" required name="password" ngModel class="form-control form-control-sm">
          </div>
          <button [disabled]="!userF.valid" class="btn btn-sm btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-3">

    </div>
  </div>
</div>
