<div class="container my-3">
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col">
        <div class="text-center">
          <h3>LogIn</h3>
        </div>
        <form  (ngSubmit)="onLogIn(form)" #form="ngForm">
          <div class="form-group">
            <label for="user" class="form-label">User Name</label>
            <input type="text" name="user" id="user" ngModel class="form-control" autofocus>
          </div>
          <div class="form-group">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password" ngModel class="form-control">
          </div>
          <button type="submit" class="btn ">Log In</button>
        </form>
    </div>
    <div class="col-3">

    </div>
  </div>
</div>