<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-8 block" style="
  height: 280px;
  margin-bottom: 28px;
" *ngIf="!signUpOrLogIn">
        
         <div align="center" style ="margin-bottom: 30px;"> <a class="btn" [routerLink]="['login']" align="center">Login</a></div>
         
          <div align="center" style ="margin-bottom: 30px;">OR</div>
          
         
          <div align="center"><a class="btn" [routerLink]="['signUp']">Sign Up</a></div>
        
        </div>
        <div class="col">
          <div *ngIf="journey" class="example-card">
            <h6>Journy Details</h6>
            <hr>
            <h5 class="text-capitalize" style="color:coral"> {{journey.journey_route.leaving_form}} to
              {{journey.journey_route.going_to}} </h5>
            <p> Date & Time : {{journey.journey_route.date}} :{{journey.bus.time}}</p>
            <p>{{journey.bus.name}} <br>
              <span>Coach Type : {{journey.bus.coachType}} </span>
            </p>
            <p>Seats No (
              <li style="display:inline;color:coral" *ngFor="let s of journey.seats">{{s}} , </li>
              )</p>
            <button class="btn" (click)="onSubmit()" *ngIf="signUpOrLogIn">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
