<div class="footer" *ngIf="loggedInAsAdmin">
  <div class="container">
    <div class="row mt-5 mb-5">
      <div class="col-md-6 ">
        <div class="card card-body block">
          <h5 class="text-center mb-3">Popular Roads</h5>
          
              <ul class="row">
                  <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:#000033;font-size:17px;"></i> <a href="/bus-tickets/Dhaka-to-Dinajpur" target="_blank" style="color:#333333;" title="Yangon to Bagan"> Yangon to Bagan</a></li>
                  <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:#000033;font-size:17px;"></i> <a href="/bus-tickets/Dhaka-to-Panchagor" target="_blank" style="color:#333333;" title="Dhaka to Panchagor"> Yangon to Kalaw</a></li>
                  <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:#000033;font-size:17px;"></i> <a href="/bus-tickets/Dhaka-to-Nilphamari" target="_blank" style="color:#333333;" title="Dhaka to Nilphamari"> Yangon to Naypyitaw</a></li>
                  <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:#000033;font-size:17px;"></i> <a href="/bus-tickets/Dhaka-to-Kurigram" target="_blank" style="color:#333333;" title="Dhaka to Kurigram"> Yangon to Lashio</a></li>
                  <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:#000033;font-size:17px;"></i> <a href="/bus-tickets/Dhaka-to-Rangpur" target="_blank" style="color:#333333;" title="Dhaka to Rangpur"> Yangon to Ngapali</a></li>
                  <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:#000033;font-size:17px;"></i> <a href="/bus-tickets/Dhaka-to-Thakurgaon" target="_blank" style="color:#333333;" title="Dhaka to Thakurgaon"> Yangon to Naypyitaw</a></li>
                  <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:#000033;font-size:17px;"></i> <a href="/bus-tickets/Dhaka-to-Cox's Bazar" target="_blank" style="color:#333333;" title="Dhaka to Cox's Bazar"> Yangon to Mandalay</a></li>
                  <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:#000033;font-size:17px;"></i> <a href="/bus-tickets/Dhaka-to-Feni" target="_blank" style="color:#333333;" title="Dhaka to Feni"> Yangon to Chaung Tha</a></li>
                   <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:#000033;font-size:17px;"></i> <a href="/bus-tickets/Dhaka-to-Feni" target="_blank" style="color:#333333;" title="Dhaka to Feni"> Yangon to Ngwe Saung</a></li>
                 <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:#000033;font-size:17px;"></i> <a href="/bus-tickets/Dhaka-to-Feni" target="_blank" style="color:#333333;" title="Dhaka to Feni"> Yangon to TaungGyi</a></li>
                 
              </ul>
         
         
        </div>
      </div>

      <div class="col-md-6">
      <div class="card card-body block" >
          <div id="why_buy">                            
              <div class="info_right">
                  <h5 class="text-center mb-3">Why buy tickets from us?</h5>
                  <ul>
                      <li><i class="fas fa-check mr-2" style="color:#000033;font-size:17px;"></i><b>Buy bus tickets</b> anytime from anywhere</li>
                      <li><i class="fas fa-check mr-2" style="color:#000033;font-size:17px;"></i>Pay by credit card, mobile banking or cash</li>
                      <li><i class="fas fa-check mr-2" style="color:#000033;font-size:17px;"></i>Get tickets delivered to your doorstep</li>
                      <li><i class="fas fa-check mr-2" style="color:#000033;font-size:17px;"></i>Dependable customer service <b>(8 AM to 11 PM)</b></li>
                  </ul>
              </div>
          </div>
      </div>
      </div>
    </div>
    
  </div>
</div>