<div class="container mt-4 " *ngIf="route">
  <div class="row justify-content-center">
    <div class="col-md-10">
        <div class="row text-center">
            <h6 class=" text-capitalize col-md-12 mb-3 text-center">{{route.leaving_form}} - {{route.going_to}} on {{route.date | date:'longDate'}}</h6>
          </div>
 
      <div class="row search-result mb-5 pb-5">

        <table class="table">

          <thead>
            <tr>
                <th>Bus Name</th>
                <th>Departure Time</th>
                <th>Bus Type</th>
                <th>Seats Available</th>
                <th>Price</th>
                <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let b of buses">
              <td> <h6>{{b.name}}</h6></td>

              <td>{{b.time}}</td>
              <td>{{b.coachType}}</td>
              <td>{{b.seat}}</td>
              <td>{{b.fare}}</td>
              <ng-template #template>

                  <div class="modal-body">
                      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    <select-seat [bus]="b" (closeModal)="closeModal()"></select-seat>
                  </div>
              </ng-template>
              <td><button  (click)="openModal(template)" class="btn btn-danger btn-sm">View Seats</button></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
